*{
    margin: 0px;
    padding: 0px;
}
.MenuImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-self: center; 
    margin-right: 5px;
}
.MenuImg:hover{
    cursor: pointer;
}
.HeaderConatiner{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5px;
}
li{
    margin-right: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #355E3B;

}
a{
    text-decoration: none;
    transition: color 0.3s ease; 
}
    
.heroSectionContent{
width: 400px;
display: flex;
flex-direction: column;
margin-left: 50px;
justify-content: center;
}
.headerList{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    width: 100%;
}
.logoImg{
    width: 80px;
    height: 40px;
    margin-left: 20px;
}   
.heroSection{
    width: 100%;
    background: url('../images/background.jpeg') ;
    background-size: cover; /* or 'contain' depending on your preference */
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
}
.HeroTitle{
    color: #355E3B;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
}
.HeroText{
    color: #013220;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    margin-top: 30px;
}
.HeroButton{
    background-color: #355E3B;
    width:100px;
    border-radius: 10px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    color: white;
}
.HeroButton:hover{
    background-color: #90EE90;
    cursor: pointer;
}
.headerList li:hover{
    color: #90EE90;
    cursor: pointer;

  }
  @media screen and (min-width: 360px) and (max-width: 480px) {
    li{
        margin: 5px;
        font-size:10px;
    }
    .logoImg{
        margin: 2px;
        margin-left: 2px;
        width: 50px;
        height: 30px;
    }
    .headerList{
        justify-content: space-between;
    }
    .HeaderConatiner{
        justify-content: space-between;
        padding: 0px;
    }
    .heroSectionContent{
        margin-left: 0px;
        width: 80%;
        align-self: center;
        margin-bottom: 200px;
    }
    .heroSection{
        display: flex; 
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .HeroText{
        margin-top:200px;
        color: #013220;
        font-weight: bold;
        font-size: medium;
    }
    .HeroTitle{
        margin-top: 100px;
      }
    
  }
  @media screen and (min-width: 481px) and (max-width: 1024px) {
    .HeroText{
        font-size: larger;
    }
    li{
        margin: 10px;
    }
    .contact-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .inside-contact-container {
        width: 100%;
        width: 300px;
        padding-left: 15px;
        margin-bottom: 20px;
      }
      .HeroButton{
        width: 150px;
        height: 40px;
        font-size: large;
      }
      
  }